<!-- lista-usuarios.component.html -->

<div class="container">
  <h1>EMPLEADOS</h1>
  <app-agregar-empleado
    (empleadoAgregado)="onEmpleadoAgregado()"
  ></app-agregar-empleado>

  <hr />

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Departamento</th>
        <th>Sueldo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of empleados">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.cargo }}</td>
        <td>{{ usuario.departamento }}</td>
        <td>{{ usuario.sueldo }}</td>
        <td>
          <button
            type="button"
            class="btn btn-sm  btn-primary"
            (click)="abrirModal(usuario)"
          >
          <i class="fa fa-edit"></i>
          </button>
          <a href="#" class="btn btn-sm  btn-danger m-1">
            <i class="fa fa-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Botón para abrir el modal -->
</div>
